<!DOCTYPE html>
<html>
  <head>
    <title>recipelabo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/25c2d80a1e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <div class="row sample-bootstrap">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <%= link_to 'recipelabo', root_path, class: "navbar-brand" %>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
          </button>
          <% if user_signed_in? %>
            <div class="collapse navbar-collapse" id="Navber">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <%= link_to "マイページ", user_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規投稿", new_recipe_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "投稿一覧", recipes_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
              </ul>
            </div>  
          <% else%>
          <div class="collapse navbar-collapse" id="Navber">
              <ul class="navbar-nav mr-auto">
                <li class= "nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: "nav-link"%>
                </li>
                <li class= "nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: "nav-link"%>
                </li>
              </ul>
            </div>  
          <% end %>
        </nav>  
        <% if flash[:notice] %>
          <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
          <%# role属性は、付与したタグに「役割や意味」を与え、コンテンツの役割を正確にブラウザに伝えることができます。 %>
          <%# また、セマンティックを持たない要素への意味付けとしてdevやpへ詳細を付与することもできます。 %>
        <% end %>
        <% if flash[:alert] %>
          <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
        <% end %>
        <%= yield %>
      </div>  
    </div>  
  </body>
</html>
